<!DOCTYPE html>
<html ng-app="ferStore">

	<head>
		<title>Hardware store</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="custom.css"/>
        <style>
   table, th , td {
     
      border-collapse: collapse;
      padding: 5px;
   }
   
   table tr:nth-child(odd) {
      background-color: #f2f2f2;
   }

   table tr:nth-child(even) {
      background-color: #ffffff;
   }
</style>
	</head>
	<body class="container" ng-init="menu=1">
		<nav class="navbar navbar-default">
		        <div class="container-fluid">
		            <div class="navbar-header">
		                <a class="navbar-brand">FerreMax</a>
		            </div>
		            <ul class="nav navbar-nav">
		                <li class="active"><a href="#" ng-click="menu=1">Store</a></li>
		            </ul>
		        </div>
		</nav>
				<!--  App Title  -->
		<hgroup id="app-title-wr" class="text-center">
			<h1 id="app-title">FerreMax</h1>
			<h2 id="app-subtitle">Hardware store Web</h2>
		</hgroup>
	<div ng-show="menu===1" class="container" ng-controller="StoreController as store" >
		<!--  Products Container  -->

    <div class="col-md-12" ng-show="store.status === ''">
      <h3>Login Page</h3>
      
      <form ng-submit="store.login()" class="form">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="store.username" placeholder="username" required=""/>
          </div> 

          <div class="form-group">
            <input type="password" class="form-control" ng-model="store.password" placeholder="password" required=""/>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success">Login</button>
            
             <a href="javascript:void(0);" class="btn btn-danger" ng-click="store.addUser()" ng-show="store.user === 'admin'"> Register </a>
            <span class="text-danger">{{ store.error }}</span>
          </div>

        </div>
      </form>
     
    </div>

        <div class="col-md-12" ng-show="store.status === 'reguser'">
      <h3>Register Page</h3>
      
      <form ng-submit="store.newUser()" class="form">
        <div class="col-md-4">
          <div class="form-group">
            <input id="newusername" type="text" class="form-control" ng-model="store.newUserData.username" placeholder="username" required=""/>
          </div> 

          <div class="form-group">
            <input type="password" class="form-control" ng-model="store.newUserData.password" placeholder="password" required="" id="newpassword"/>
          </div>

 

          <div class="form-group">
            <button type="submit" class="btn btn-success">Register</button>
            
            <span class="text-danger">{{ store.error }}</span>
          </div>

        </div>
      </form>
      <pre ng-show="store.user === 'admin'">{{store.newUserData | json }}</pre> 
    </div>

<div class="list-group" ng-show="store.status === 'saList'">
            <!--  Product Container  ng-repeat="product in store.products | orderBy:'-price'" -->
            <div class="list-group-item card">
                <h2> Actions:  <label>Search: <input ng-model="searchTextA"></label> </h2>
                <table>
              
                    <tr class="ng-binding">
                        <th> UserId</th> <th> User Name</th> <th> Oper Type</th> <th> Item</th> 
                    </tr>
            
                    <tr class="ng-binding" ng-repeat="action in store.actions | filter:searchTextA">
                        <td > {{action.idUser }} </td>  
                        <td > {{action.name }} </td>     
                        <td > {{action.oper}}  </td>  
                        <td > {{action.item }} </td> 
                    </tr>
            
            </table>
            </div>
        </div>

<!-- -->
		<div class="list-group" ng-show="store.status === 'list'">
			<!--  Product Container  ng-repeat="product in store.products | orderBy:'-price'" -->
			<div class="list-group-item card">
                <table class="table">
                <thead>
                    <tr>
                        <th> Products: <a href="javascript:void(0);" class="btn btn-danger" ng-click="store.addProduct()" ng-show="store.user === 'admin'"> Add Item </a> <label>Search: <input ng-model="searchText"></label></th> 
                    </tr>
                </thead>
                <tbody>
                    <!-- ngRepeat: item in clientes --><tr>
                        <td class="ng-binding"  ng-repeat="product in store.products | filter:searchText |orderBy:'-price'" > 
                        Name:{{product.name | limitTo : 10}} <br>
                        Price:{{product.price | currency}} <br>
                        Description:{{product.description | limitTo : 15}} <br>
                        Available:{{product.stock}} <br>
                        <img class="small-image" ng-src="{{product.images}}" /> <br>
                        <a href="javascript:void(0);" class="btn btn-info" ng-click="store.editProduct(product._id)" ng-show="store.user === 'admin'"> Edit </a>
                        <a href="javascript:void(0);" class="btn btn-danger" ng-click="store.deleteProduct(product._id)" ng-show="store.user === 'admin'"> Delete </a>
                        <a href="javascript:void(0);" class="btn btn-danger" ng-click="store.buyProduct(product._id)" ng-show="store.user === 'user'"> Buy </a>
                         </td>      
                    </tr>
                </tbody>
            </table>
			</div>
		</div>

<!-- -->
        <div class="list-group" ng-show="store.status === 'buy'">
            <!--  Product Container  ng-repeat="product in store.products | orderBy:'-price'" -->
            <div class="list-group-item card">
            
                        <div>  
                        Name:{{store.newProduct.name | limitTo : 10}} <br>
                        Price:{{store.newProduct.price | currency}} <br>
                        Description:{{store.newProduct.description}} <br>
                        Available:{{store.newProduct.stock}} <br>
                        <img class="small-image" ng-src="{{store.newProduct.images}}" ng-show="store.status === 'buy'"/> <br>
                        

                            <form name="newItemForm"  ng-submit="newItemForm.$valid && store.newItem();" novalidate>
                                <div class="form-group">
                                    <label for="name">Quantity:</label>
                                    <input type="text" ng-model="store.buyData.quantity" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                        <label for="name">Credit Card No.:</label>
                                        <input type="text" ng-model="store.buyData.creditCard" class="form-control" id="description">
                                </div>
                                <div class="form-group">
                                        <label for="name">CC Code</label>
                                        <input type="number" ng-model="store.buyData.ccCode" class="form-control" id="price">
                                </div>
                                
                            </form>
                            <pre ng-show="store.user === 'admin'">{{store.newProduct | json }}</pre> 

                        <a href="javascript:void(0);" class="btn btn-danger" ng-click="store.newBuy()" ng-show="store.user === 'user'"> Buy </a>
                         </div>      

            </table>
            </div>
        </div>    

<!-- -->           
        <div ng-show="store.status === 'add'" class="container" >
            <form name="newItemForm"  ng-submit="newItemForm.$valid && store.newItem();" novalidate>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" ng-model="store.newProduct.name" class="form-control" id="name">
                </div>
                <div class="form-group">
                        <label for="name">Description:</label>
                        <input type="text" ng-model="store.newProduct.description" class="form-control" id="description">
                </div>
                <div class="form-group">
                        <label for="name">Price:</label>
                        <input type="number" ng-model="store.newProduct.price" format="currency" class="form-control" id="price">
                </div>
                <div class="form-group">
                        <label for="shine">Stock:</label>
                        <input type="text" ng-model="store.newProduct.stock" format="currency" class="form-control" id="shine">
                </div>
                <div class="form-group" >
                            <label for="image">Image :</label>
                            <input type="text" ng-model="store.newProduct.images" class="form-control" id="images" >      
                </div>
                <div class="form group" pull rigth>
                    <input class="form-control btn btn-lg btn-primary" value="Enviar" type ="submit"
                    id="submit">
                </div>
                <div class="form group" ng-show="false">

                            <input type="text" ng-model="store.username" class="form-control" id="images" >      
                </div>
                <div class="form group" ng-show="false">
                        
                            <input type="text" ng-model="store.userId" class="form-control" id="images" >      
                </div>
            </form>
            <pre ng-show="store.user === 'admin'">{{store.newProduct | json }}</pre>    
        </div>
        <div ng-show="store.status === 'edit'" class="container" >
            <form name="editItemForm"  ng-submit="editItemForm.$valid && store.editItem(store.product._id);" novalidate>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" ng-model="store.product.name" class="form-control" id="name">
                </div>
                <div class="form-group">
                        <label for="name">Description:</label>
                        <input type="text" ng-model="store.product.description" class="form-control" id="description">
                </div>
                <div class="form-group">
                        <label for="name">Price:</label>
                        <input type="number" ng-model="store.product.price" format="currency" class="form-control" id="price">
                </div>
                <div class="form-group">
                        <label for="shine">Stock:</label>
                        <input type="text" ng-model="store.product.stock" format="currency" class="form-control" id="shine">
                </div>
                <div class="form-group">
                            <label for="image">Image:</label>
                            <input type="text" ng-model="store.product.images" class="form-control" id="images" >      
                </div>
                <div class="form group" pull rigth>
                    <input class="form-control btn btn-lg btn-primary" value="Enviar" type ="submit"
                    id="submit">
                </div>
            </form>
            <pre ng-show="store.user === 'admin'">{{store.product | json }}</pre>    
        </div>        
	</div>
	
		<!--  Scripts  -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

		<script type="text/javascript" src="app.js"></script>

	</body>

</html>